# Environment Configuration
GO_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=toolkit_db

# Server Configuration
SERVER_PORT=8080

# Logging
LOG_LEVEL=debug